
<div class="communityWrapper">

    <div class="community">
        <div *ngIf="userAuthenticated; else elseBlock">
            <app-communities-nav-menu></app-communities-nav-menu>
            <div style="text-align: center;" id="pageWrapper">
                    <h2 class="keyHeader" style="flex-grow:0.3">Choose A Community Name</h2>

                    <form (submit)="createCommunity(communityForm)" #communityForm="ngForm">
                        
                           
                            <mat-form-field>
                                <input matInput ngModel #communityInput="ngModel" id="communityInput" placeholder="Community Name" name="communityInput" required><br><br>
                                <mat-error *ngIf="communityInput.invalid">Please name your community.</mat-error>
                            </mat-form-field>
                            <mat-card-content style="text-align: center;">
                              <button class="createButton" mat-raised-button color="accent" type="submit" >CREATE</button>

                            </mat-card-content>
                    </form>
                
            </div>
        </div>
        <ng-template #elseBlock>

            <h2 class="keyHeader" style="flex-grow:0.3">User must log in to view page.</h2>
            <button class="loginBtn" onclick="window.location.href =  '/login-form';">Login with Key Trader</button>
          
        </ng-template>
    </div>
    

</div>