<div class="signupWrapper">

    <div class="signup">

        <h2 class="keyHeader" style="flex-grow:0.3">Sign Up</h2>
        <form>
            <h5 for="usernameLbl">Username</h5>
            <input type="text" id="usernameInput" name="usernameInput"><br><br>
            <h5 for="emailLbl">Email</h5>
            <input type="text" id="emailInput" name="emailInput"><br><br>
            <h5 for="passwordLbl">Enter Password</h5>
            <input type="password" id="passwordInput" name="passwordInput"><br><br>
            <h5 for="confirmLbl">Confirm Password</h5>
            <input type="password" id="confirmInput" name="confirmInput"><br><br>
            <input type="submit" value="Submit">
          </form>
        
    </div>

</div>