<div class="loginWrapper">

    <div class="login">

        <h2 class="keyHeader" style="flex-grow:0.3">Log In</h2>
        <mat-card>
            <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
                <mat-form-field>
                    <input matInput type="username" ngModel #emailInput="ngModel" name="username" id="userInput" placeholder="Username" name="userInput"><br><br>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" ngModel #passwordInput="ngModel" name="password" id="passwordInput" placeholder="Password" name="passwordInput" required><br><br>
                <mat-error *ngIf="passwordInput.invalid">Enter a valid password.</mat-error>
                </mat-form-field>
                <button mat-raised-button class="loginButton" type="submit">Login</button>
            </form>
        </mat-card>
    </div>

</div>