<div class="loginWrapper">

    <div class="login">

        <h2 class="keyHeader" style="flex-grow:0.3">Log In</h2>
        <form>
            <label for="usernameLbl">Username:</label>
            <input type="text" id="usernameInput" name="usernameInput"><br><br>
            <label for="passwordLbl">Password:</label>
            <input type="password" id="passwordInput" name="passwordInput"><br><br>
            <input type="submit" value="Submit">
          </form>
        
    </div>

</div>