.pageWrapper {
  width:95vw;
  height:95vh;
  border-radius:20px;
  display: flex;
  justify-content: space-around;
}
.page{
  width:48vw;
  left:0;
  height:95vh;
  background-color: white;
  border-radius:20px;
  justify-content: center;
  align-items: center;
}
.Aligner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Aligner-item {
  background-color: #34d4c4;
  text-shadow: 1px 1px #000000;
  padding: 10px;
  color: white;
  font-size: 12px;
}

.center {
  justify-content: center;
  align-items: center;
}

.loginBtn {
  background-color: #34d4c4;
  color:white;
  list-style-type: none;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 1vw;
  cursor:pointer;
}

.communityListing{
  background-color: white;
  width:95vw;
  height:95vh;
  border-radius:20px;
  display:flex;
  flex-direction: column;
  align-content: center;
}

.loading{
  height:20vh;
  width:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.communitySection{
  background-color: #7289DA;
  border-radius:20px;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.40));

}
.communityCard{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:20vh;
  width:200px;
  background-color: white;
  margin:20px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}
.communityCardHeader{
  background-color: #7289DA;

}
.communityHeader{
  font-family: 'Varela Round', sans-serif;
  color:white;
  font-size: 2vw;
}
#pageWrapper{
  padding:30px;
  height: 100%;
}
.headerWrapper{
  padding:20px;
  padding-left: 40px;

}
.communitiesWrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.createButton{
  background-color: #34d4c4;
  text-shadow: 1px 1px #000000;
  color: white;
}

.communityName{
  font-size: 20px;
}

.settingsBtn{
  width:20%;
  margin-top: 2px;
  margin-right: 2px;
  border:none;
  background:none;
  cursor:pointer;
}

.communityBtns{
  width:90%;
  border: 1px solid white;
  border-radius: 5px;
  margin:auto;
}


#addKey{
  border-right: 1px solid white;
}
#viewKey{
  border-left: 1px solid white;
}
#addCommunity fa-icon {
  font-size: 32px;
  color:white;
}
mat-action-row,
textarea {
  width: 100%
}

@media screen and (max-height: 800px){
  .headerWrapper{
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

@media screen and (max-height:600px){
  .headerWrapper{
    padding-bottom: 0;
    padding-top: 0;
  }
}
