<div class="pageWrapper">
  <div class="page">
    <div *ngIf="userAuthenticated; else elseBlock">
      <app-communities-nav-menu></app-communities-nav-menu>
      <div class="center" id="pageWrapper">

        <div class="communitySection">
          <div class="headerWrapper">
            <h2 class="communityHeader">Your Communities that use KeyTrader</h2>
          </div>
          <div class="communities">
            <div *ngIf="loading" class="loading">
              <app-swapping-squares-spinner
                [animationDuration]="1000"
                [size]="40"
                [color]="'#0CDAC2'"
              ></app-swapping-squares-spinner>
            </div>

            <div *ngIf="!loading" class="communitiesWrapper">
                <mat-card class="communityCard" *ngIf="this.communities.length === 0">
                  <mat-card-header class="communityCardHeader">

                  </mat-card-header>
                  <mat-card-content>
                    <h4 class="communityName">You aren't currently in any KeyTrader Communities :(</h4>
                  </mat-card-content>
                </mat-card>


                <mat-card class="communityCard" style="text-align: center;">
                  <mat-card-header class="communityCardHeader">

                  </mat-card-header>
                  <mat-card-content>
                    <h4 class="communityName">Create a Community Here</h4>
                    <button class="createButton" mat-raised-button (click)="createCommunity()">CREATE COMMUNITY</button>
                  </mat-card-content>
                </mat-card>


                <mat-card class="communityCard" *ngFor="let community of this.communities">
                  <mat-card-header class="communityCardHeader">


                  </mat-card-header>
                  <mat-card-content>
                    <!-- <button class="settingsBtn" (click)="window.location.href = '/comRoles';"><fa-icon [icon]="settingsIcon"></fa-icon></button> -->
                    <h4 class="communityName">{{community.communityID}}</h4>
                  </mat-card-content>
                  <mat-card-actions style="display:flex; ">
                    <button mat-raised-button (click)="addKey(community)" id="addKey" class="serverBtn">ADD ROLES</button>
                    <button mat-raised-button (click)="seeKeys(community)" id="viewKey" class="serverBtn">VIEW ROLES</button>
                  </mat-card-actions>
                </mat-card>

              </div>

          </div>
        </div>

      </div>
    </div>
    <ng-template #elseBlock>

      <h2 class="keyHeader" style="flex-grow:0.3">User must log in to view page.</h2>
      <button class="loginBtn" onclick="window.location.href =  '/login-form';">Login with Key Trader</button>

    </ng-template>
  </div>

</div>
