<div class="settingsPageWrapper" id="loading" *ngIf = "loading">
  <app-swapping-squares-spinner
    [animationDuration]="1000"
    [size]="65"
    [color]="'#0CDAC2'"
  ></app-swapping-squares-spinner>
</div>


<div class="settingsPageWrapper" *ngIf="!loading">
  <app-nav-menu></app-nav-menu>

  <div class="header">
    <h2 class="settingsTitle">Settings for {{this.community.communityName}}</h2>
  </div>

  <h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Basic native select</h4>
<mat-list-item class="listItem" *ngFor="let role of roles; index as i">

  <mat-card class="role">
    <h4 mat-line class="roleTitle">{{role}}</h4>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [formControl]="discordRoles.controls[i]">
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="Donor/Recipient">Donor/Recipient</mat-option>
        <mat-option value="Donor">Donor</mat-option>
        <mat-option value="Recipient">Recipient</mat-option>
        <mat-option value="Viewer">Viewer</mat-option>
        <mat-option value="Blocked">Blocked</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

</mat-list-item>
</div>
